/** Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/** template */
footer {
	align-items: center;

	display: flex;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	min-height: 6rem;
	border-top: 5px solid #ffd700;
	justify-content: center;
}
footer a {
	color: #aad;
	text-decoration: none;
}
body {
	min-height: 100vh;
}
header {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 6rem;
	border-bottom: 5px solid #ffd700;
}
header,
footer {
	background-color: #333;
	color: #fdfdfd;
}
main {
	min-height: calc(100vh - 12rem);
	padding: 2rem;
}
/* body */

/* header */
/* main */
